*{
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: .9;
    
}


ul{
    display: inline-flex;
    gap:1em;
}

li{
    list-style: none;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    padding: 0 10px;
    position: sticky;
}

a{
    color: seashell;
    text-decoration: underline;
}
a:visited{
    color: seashell;
}

#logo{
    height:50px;
}

/* Banner */

h2{
    margin: 0;
}

#banner{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-size: 1200px 700px;
    background-repeat: no-repeat;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

.content-banner{
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 50%;

}

/* Teas */

#featured-tea{
    width: 1000px;
    height: 700px;
    margin: 0 auto;
}

.title-tea{
    text-align: center;
    margin-top: 70px;
}

.teas{
    /* position: relative; */
  padding: 5px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

figure{
    margin: 0;
}
figure img{
    height: 200px;
    margin: 10px;
    display: block;
   
}

figure figcaption{
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}